.Home-Button1 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(21, 222, 244);
  color: #4a4747;
  border: none;
  opacity: 0.7;
}
/* Recently Added */
.HomeBox1-Button {
  margin-top: 0px;
  position: relative;
}

.HomeBox1-Div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeBox1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
}
