.Search-Body {
    height: auto;
    width: 100%;
  }
  
  .Search-Box {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid azure;
  }
  
  .Search-Back-Button {
    border: none;
    background-color: transparent;
    color: azure;
    cursor: pointer;
    
  }
  
  .Search-Back-Icon {
    font-size: 50px;
  }
  
  .Search-Div {
    height: auto;
    width: 90%;
    margin-bottom: 24px;
    margin-top: 22px;
  }
  
  .Search-Input-Search {
    height: 60px;
    width: 97%;
    background-color: transparent;
    color: #f9f9f9;
    border: none;
    padding: 0px;
    outline: none;
    font-size: 22px;

  }
  
  .Search-Cancel-Button {
    position: absolute;
    border: none;
    background-color: transparent;
    color: #ccc;
    cursor: pointer;
    font-size: 25px;
    margin-top: 18px;
    margin-left: 10px;
  }
  .Search-Cancel-Button:hover {
    color: #ffffff;
  }
  
  .Search-Advanced-Button {
    border: none;
    background-color: transparent;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .Search-Advanced-Button:hover {
    text-decoration: underline;
  }
  
  .Advanced-Search-Options {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    width: 90%;
  }
  @media only screen and (max-width: 1000px) {
    .Search-Back-Icon {
      font-size: 40px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .Search-Back-Icon {
      font-size: 30px;
    }
    .Search-Input-Search {
      height: 50px;
      width: 87%;
      margin-left: -50px;
      font-size: 18px;
    }
    .Search-Cancel-Button {
      
      font-size: 20px;
      margin-top: 15px;
      margin-left: -5px;
    }
  }