.SliderScreen2-Body {
  height: auto;
  width: 100%;
}
.SliderScreen2-Button1 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(21, 222, 244);
  color: #4a4747;
  border: none;
  opacity: 0.7;
}
.SliderScreen2-Button1:hover {
  opacity: 0.8;
}
.SliderScreen2-Box {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SliderScreen2-Button2{
    height: 255px;
    border: none;
    cursor: pointer;
}
.SliderScreen2-Img{
    height: 250px;
}







