.Footer-Body {
  height: auto;
  width: 100%;
  margin-top: 50px;
}
.Footer-Box {
  height: 400px;
  width: 100%;
  background-color: rgb(35, 34, 34);
  border-bottom: 1px solid red;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-Box1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Footer-Box2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-Box3 {
  height: 320px;
  flex: 1;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Footer-Box1-Img {
  height: 50px;
  margin-left: 20px;
}
.Footer-Box1-Box {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}
.Footer-Box1-Div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Footer-Box1-Img2 {
  height: 40px;
  width: 45%;
  cursor: pointer;
}
.Footer-Box-text1 {
  font-size: 18px;
  margin-top: 5px;
  color: #0493a9;
}
.Footer-Box-text2 {
  font-size: 18px;
  margin-top: -13px;
  opacity: 0.7;
}
.Footer-Box-text4 {
  font-size: 20px;
  margin-top: 5px;
  color: #e40c09;
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.Footer-Box1-Box2 {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
}
.Footer-Box1-Icon {
  font-size: 30px;
  color: #0493a9;
  opacity: 0.7;
  cursor: pointer;
}
.Footer-Box1-Icon:hover {
  opacity: 1;
}

.Footer-Box2-Div {
  height: 330px;
  width: 30.3%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.Footer-Box-text3 {
  font-size: 20px;
  color: #0493a9;
  font-weight: 700;
}
.Footer-Box-Link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  opacity: 0.7;
}
.Footer-Box-Link:hover {
  opacity: 1;
}

.Footer-div {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid red;
}
.Footer-Box-text5 {
  margin-left: 30px;
  text-align: left;
}
.Footer-Box-text6 {
  margin-right: 30px;
  text-align: left;
}
.Footer-div-Button {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 16.5px;
  margin-left: -7px;
  cursor: pointer;
}











































.footer-Drawer {
  display: flex;
  margin-top: -30px;
}

.footer-Drawer-Box {
  height: auto;
  width: 50%;
}
.footer-Drawer-Box2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-Drawer-TextDiv {
  display: flex;
}
.footer-Drawer-Text {
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 5px;
}
.footer-Drawer-Text2 {
  font-size: 20px;
  color: red;
  opacity: 0.6;
  margin-bottom: 5px;
}
.footer-Drawer-Input {
  font-size: 20px;
  border-color: #0493a9;
}
.footer-Drawer-TextArea {
  font-size: 18px;
  border-color: #0493a9;
}
.footer-Drawer-ButtonDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.footer-Drawer-Button {
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-Drawer-Button2 {
  font-size: 20px;
  height: 40px;
  margin-left: 20px;
  background-color: #0493a9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-Drawer-Img {
  height: 400px;
}

@media only screen and (max-width: 1000px) {
  .footer-Drawer-Box {
    width: 100%;
  }
  .footer-Drawer-Box2 {
    display: none;
  }
  .footer-Drawer-Text {
    font-size: 18px;
  }
  .footer-Drawer-Text2 {
    font-size: 18px;
  }
  .footer-Drawer-Input {
    font-size: 16px;
  }
  .footer-Drawer-TextArea {
    font-size: 15px;
  }
  .footer-Drawer-ButtonDiv {
    margin-top: 20px;
  }
  .footer-Drawer-Button {
    font-size: 16px;
    height: 35px;
  }
  .footer-Drawer-Button2 {
    font-size: 16px;
    height: 35px;
    margin-left: 10px;
  }
}
