.HeaderBody {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: .5px solid #592222;
}

.HeaderImg {
  height: 33px;
}

.HeaderLink {
  text-decoration: none;
  color: #fff;
}

.HeaderLink:hover {
  color: #bfbebe;
}

.Header-Text1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  margin-top: -0px;
}

.HeaderLine {
  height: 4px;
  width: 25px;
  margin-top: -20px;
}

.HeaderLine.red {
  background-color: red;
}

.HeaderLeftBox {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.HeaderLeftBox2 {
  display: none;
}

.HeaderRightBox {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.HeaderIcon {
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.HeaderDrawer {
  height: 100vh;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.HeaderDrawer-TopDiv {
  height: 55px;
  width: 370px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -24px;
}

.HeaderDrawer-Mid-Div {
  height: 38vh;
  width: 340px;
  background-color: rgb(55, 55, 55);
  margin-left: -15px;
  padding: 20px;
  border-radius: 20px;
}

.HeaderLink2 {
  text-decoration: none;
  color: #fff;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HeaderLink2:hover {
  color: #0493a9;
}

.HeaderIcon2 {
  font-size: 20px;
}

.Header-Text2 {
  font-size: 20px;
  margin-left: 10px;
}

.Header-Drawer-Box {
  height: 30vh;
  width: 360px;
  background-color: black;
  margin-left: -24px;
  padding: 20px;
}

.Header-Drawer-Text3 {
  font-size: 20px;
  opacity: 0.6;
}

.Header-Drawer-Line {
  height: 1.5px;
  background-color: #656060;
  width: 88%;
  margin-top: 10px;
}

.Header-Drawer-aTag {
  height: 35px;
  width: 35px;
  border: 1.5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
  border-radius: 5px;
  color: #fff;
}

.Header-Drawer-aTag:hover {
  color: #0493a9;
  border: 1.5px solid #0493a9;
}

.Header-Drawer-Icon {
  font-size: 25px;
}

.Header-Drawer-Button {
  height: 42px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.Header-Drawer-Img {
  height: 40px;
  width: 148px;
}



.HeaderLink3 {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.HeaderLink3:hover {
  color: red;
}

.Header-Drawer-Text4 {
  text-transform: capitalize;
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .HeaderLeftBox {
    display: none;
  }

  .HeaderLeftBox2 {
    display: block;
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .HeaderRightBox {
    flex: 1;
  }
}

@media only screen and (max-width: 600px) {
  .HeaderImg {
    height: 23px;
  }
}
