.HeaderBody {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderImg {
  height: 33px;
}

.HeaderLink {
  text-decoration: none;
  color: #fff;
}

.Header-Text1 {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  margin-top: -0px;
}

.HeaderLine {
  height: 4px;
  width: 25px;
  margin-top: -20px;
}

.HeaderLine.red {
  background-color: red;
}

.HeaderLeftBox {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.HeaderRightBox {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.HeaderIcon {
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.HeaderDrawer {
  color: #fff;
}

.HeaderDrawer-TopDiv {
  height: 55px;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  margin-top: -24px;
  margin-left: -24px;
}

.HeaderLink2 {
  text-decoration: none;
  color: #fff;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HeaderLink2:hover {
  color: #ff0000;
}

.HeaderIcon2 {
  font-size: 20px;
}

.Header-Text2 {
  font-size: 20px;
  margin-left: 10px;
}

.Header-Drawer-Box{
  height: auto;
  width: 400px;
  background-color: black;
  margin-top: -24px;
  margin-left: -24px;
  margin-top: 50px;
  padding: 20px;
}

.Header-Drawer-Text3{
  font-size: 20px;
  opacity: .6;
}

.Header-Drawer-Line{
  height: 1.5px;
  background-color: #656060;
  width: 88%;
  margin-top: 10px;
}

.Header-Drawer-aTag{
  height: 35px;
  width: 35px;
  border: 1.5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
  border-radius: 5px;
  color: #fff;
}

.Header-Drawer-aTag:hover{
  color: red;
  border: 1.5px solid red;
}

.Header-Drawer-Icon{
  font-size: 25px;
}